/* Import Fonts ____________________________________________________ */
@import url('https://fonts.googleapis.com/css?family=Sometype+Mono');
@import url('https://fonts.googleapis.com/css?family=Spectral');
@import url('https://fonts.googleapis.com/css?family=Inter');



/* Remove Navigation Bar ____________________________________________________ */
.navbar-default {
    display: none;
}

/* Link Colors ____________________________________________________ */
a:link {
  color: #2C63C9;
}

a:visited {
  color: #2C63C9;
}

a:hover {
  color: #2C63C9;
  text-decoration: underline;
}

a:active {
  color: #2C63C9;
}

a:has(.arrow) {
  color: inherit;
}
.arrow {
  font-size: 16pt;
  color: #2C63C9;
  padding-left: .25em;
  display: inline-block;
}

h1 {
  font-family: 'Spectral', Garamond, serif;
  font-size: 30pt;
  font-weight: 600;
  line-height: 1em;
  color: Black;
}

h2 {
  font-family: 'Spectral', Garamond, serif;
  font-size: 19pt;
  font-weight: 500;
  color: Black;
}

h3 {
  font-family: 'Spectral', Garamond, serif;
  font-size: 14pt;
  font-weight: 600;
  color: Black;
}

h4{
  font-family: 'Sometype Mono', monospace;
  font-size: 18pt;
  font-weight: 500;
  color: Black;
  letter-spacing: 2px;
}

h5{
  font-family: 'Sometype Mono', monospace;
  font-size: 14pt;
  font-weight: 500;
  color: #717272;
  letter-spacing: 2px;
}

h6{
  font-family: 'Spectral', Garamond, serif;
  font-size: 0;
  line-height: 0;
}

body{
  font-family: 'Spectral', Garamond, serif;
  font-weight: 400;
  font-size: 12pt;
  background-color: #E8F4F9; 
  color: #Black;
  margin: auto;
  max-width: 1500px
}

body .main-container {
  max-width: 1500px;
  width: 90%;
}

@media (max-width: 700px) {
  .column-left, .column-right {
      float: none;
      width: 100%;
  }
}

span {
  font-family: 'Spectral', Garamond, serif;
  font-size: 32pt;
  font-weight: 700;
  color: Black;
}

span b {
  font-family: 'Spectral', Garamond, serif;
  font-size: 19pt;
  font-weight: 500;
}
